<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
      <ion-label color="primary">Idade:</ion-label>
      <ion-input type="number" [min]="0" [max]="100"></ion-input>
    </ion-item>


    <ion-list>
        <ion-label color="primary" style="margin-left: 15px">Sexo</ion-label>
        <ion-item *ngFor="let entry of form">
          <ion-label>{{entry.val}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>

    <ion-button expand="full" (click)="closeModal()">Registrar</ion-button>

</ion-content>
